# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/

# production
/build

# database
*.db
*.db-journal
/prisma/migrations/dev.db*

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# os
.DS_Store
*.pem

# typescript
*.tsbuildinfo
next-env.d.ts

# editor
.vscode/
.idea/

# sandbox
.zscripts/
Caddyfile
upload/
download/
dev.log
server.log
